@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    background: transparent;
    color: transparent;
}

.niic-aet-input-prompt-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;

    background: #ffffffa0;

    .niic-aet-input-prompt {
        > .niic-aet-input-prompt-exit {
            position: absolute;
            right: 2px;
            top: 2px;

            background-color: transparent;
            color: white;
            width: 50px;
            height: 50px;

            &:hover {
                color: #dea4ff;
            }
        }

        position: relative;
        left: 50%;
        top: 50%;

        display: flex;
        flex-direction: column;

        width: 500px;
        height: 700px;

        background-image: url("../img/bg-aet.png");
        background-repeat: no-repeat;
        background-size: cover;

        font-family: "Inter", system-ui, sans-serif;
        color: white;

        padding: 40px 30px;
        box-sizing: border-box;

        .niic-aet-input-prompt-title {
            flex: 1;
            font-weight: unset;
            margin-bottom: 30px;

            background: transparent;
            border: none;

            font-size: 2rem;
            color: white;
        }

        > .niic-aet-input-prompt-description  {
            display: flex;
            flex-direction: column;
            gap: 5px;

            font-size: 1.1rem;

            > textarea {
                flex: 2;

                width: 100%;

                padding: 20px;
                box-sizing: border-box;

                font-family: system-ui, sans-serif;
                font-size: 1rem;

                resize: none;
            }
        }

        > div {
            flex: 6;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            > .niic-color-btn-container {
                position: relative;
            }

            > label {
                display: flex;
                justify-content: space-between;
                align-items: center;

                font-size: 1.2rem;

                > .niic-aet-choice-right {
                    width: 200px;
                    background-color: #18333e;
                    color: white;
                    border: 0;
                    border-radius: 5px;

                    padding: 10px 20px;
                    box-sizing: border-box;
                    font-size: 1rem;

                    cursor: pointer;
                }

                > .niic-color-btn::-webkit-color-swatch {
                    position: absolute;
                    right: 0;

                    width: 60px;
                    height: 60px;

                    background-color: transparent;
                    border: 0;
                    border-radius: 50%;

                    transform: translateY(-50%);
                }

                > .niic-color-btn {
                    background-color: transparent;
                    border: none;
                }
            }
        }

        > input[type="submit"] {
            padding: 10px 0;
            border: none;

            background: lightseagreen;
            color: white;
            font-size: 1.1rem;

            cursor: pointer;

            &:hover {
                transform: scaleY(1.01) scaleX(1.005);
            }

            &:active {
                transform: scale(0.98);
            }
        }
    }
}