:root {
    --niic-calendar-body-height: calc(100dvh - 234px);
    --niic-calendar-aside-width: 296px;
}

.niic-calendar-main-section {
    height: var(--niic-calendar-body-height);
    width: var(--max-width);

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.niic-calendar-aside {
    width: var(--niic-calendar-aside-width);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .niic-calendar-aside-minimap {
        width: 100%;
        background: white;
        padding: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .niic-calendar-aside-aet-lists {
        display: flex;
        flex-direction: column;
        gap: 30px;

        overflow: auto;
        padding-bottom: 30px;
    }
}

.niic-calendar-day-times {
    width: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: system-ui, sans-serif;
}

.niic-calendar-main {
    width: calc(100vw - 81px - 296px);

    display: flex;

    &> * {
        flex: 1;

        display: flex;
        justify-content: center;
        border-right: 1px black solid;

        &:last-child {
            border-right: none;
        }
    }
}