
body {
    overflow: hidden;
    background: #32A38E;
    width: 100%;
    height: 100%;

    * {
        overflow: hidden;
    }
}

html {
    height: 100%;
}

#shadow {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(139.07deg, rgba(0, 0, 0, 0) 13.67%, rgba(90, 4, 200, 0.58) 80.22%);

}

#background {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

}

#go-back {
    /* <- Go back */

    position: absolute;
    width: 179px;
    height: 39px;
    left: 112px;
    top: 10%;

    font-family: system-ui, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #FFFFFF;

}

#pulgin-store {
    /* Plugins store */

    position: absolute;
    left: 116px;
    top: 22%;


    font-family: system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    z-index: 1;
    color: #FFFFFF;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#installed-plugins {
    /* Plugins store */
    position: absolute;

    left: 116px;
    top: 33%;


    font-family: system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

}

#header {
    /* Plugins store */
    position: absolute;
    width: 258px;
    height: 70px;
    left: 40%;
    top: 9%;

    font-family: system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;

    leading-trim: both;
    text-edge: cap;

    color: #FFFFFF;

}

#underlined-header {
    border-bottom: 2px solid currentColor;
}

#main-container {

    /* Main Container */

    position: absolute;
    width: 60%;
    height: 90%;
    left: 25%;
    top: 5%;
    background: greenyellow;

}

#searchbar {

    /* Rectangle 41 */

    /* serach bar */

    position: absolute;
    width: 52%;
    height: 30px;
    left: 5%;
    top: 27%;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;

}

#search-icon {
    /* Union */

    position: absolute;
    width: 23px;
    height: 22px;
    left: 54%;
    top: 28%;

    border-radius: 3px;

}

#content-container-1 {
    /* Content Container */

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#background-1 {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 60%;
    position: absolute;
}

#content-container-2 {
    /* Content Container */

    position: absolute;
    width: 110%;
    height: 70%;
    left: 0%;
    top: 51%;

}

#background-2 {
    top: 0%;
    left: -5%;
    width: 100%;
    height: 70%;
    position: absolute;
}

#filter {
    /* Rectangle 37 */

    box-sizing: border-box;

    position: absolute;
    width: 110.99px;
    height: 48px;
    left: 70%;
    top: 23%;

    background: #18333E;
    border-radius: 3px;
    border: 1px solid #18333E;

    color: white;
}

#date {
    padding: 0%;
    box-sizing: border-box;

    position: absolute;
    width: 110.99px;
    height: 48px;
    left: 84%;
    top: 23%;

    background: #18333E;
    border-radius: 3px;
    border: 1px solid #18333E;

    color: white;
}

#arrow {
    position: absolute;
    top: 40%;
    left: 75%;
    width: 10px;
    height: 8px;
}

.info-box {
    /* Rectangle 43 */

    position: absolute;
    width: 250px;
    height: 150px;

    background: #24424B;
    border-radius: 20px;

}

#info-box-1 {
    left: 5%;
    top: 37%;
    z-index: 1;
}

#info-box-2 {
    left: 35%;
    top: 37%;
    z-index: 1;
}

#info-box-3 {
    left: 66%;
    top: 37%;
    z-index: 1;
}

#info-box-4 {
    left: 5%;
    top: 20%;

}

#info-box-5 {
    left: 32%;
    top: 20%;
}

#info-box-6 {

    left: 60%;
    top: 20%;
}

.download {
    width: 20px;
    height: 20px;
}

.download-button {
    width: 90px;
    height: 35px;
    /* Rectangle 27 */
    color: white;
    background: #18333E;
    border-radius: 5px;
    border: 1px solid #18333E;
    position: absolute;
    top: 68%;
    left: 10%;
}

.download-button-2 {
    width: 90px;
    height: 35px;
    /* Rectangle 27 */
    color: white;
    background: #18333E;
    border-radius: 5px;
    border: 1px solid #18333E;
    position: absolute;
    top: 68%;
    left: 10%;
}

.type {
    /* Rectangle 27 */

    position: absolute;
    width: 100px;
    height: 46px;
    left: 61%;
    top: 0%;
    color: white;
    background: #18333E;
    border-top-right-radius: 20px;
    border: 1px solid #18333E;

}
.niic-navigation{
    z-index: 10;
}
#searchbar::placeholder{
    position: absolute;
    left: 5%;
}
.show-image{
    position: absolute;
    top: 70%;
    left: 80%;
    width: 32px;
    height: 25px;
}
.plugin-name{
    position: absolute;
    left: 5%;
    top: 15%;
    font-family: system-ui, sans-serif;
    font-style: normal;
    color: #FFFFFF;

}
.creator{
    /* by you, lawandibo123, and 2 others */

    position: absolute;

    left: 5%;
    top: 35%;

    font-family: system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #7EB4C8;

}
.description{
    /* A simple plugin for creating and mana… */

    position: absolute;

    left: 5%;
    top: 45%;

    font-family: system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.5);


}